<p>
    <h1>@ViewData["Title"]</h1>
</p>
<br />

<div class="row">
    <div class="col-lg-2">
        <form asp-controller="Home" method="post" asp-action="OnPostLanguage">
            <input type="hidden" name="culture" id="culture" value="en-US" />
            <button>Idioma Americano</button>
        </form>
    </div>
    <div class="col-lg-2">
        <form asp-controller="Home" method="post" asp-action="OnPostLanguage">
            <input type="hidden" name="culture" id="culture" value="pt-BR" />
            <button>Idioma Brasil</button>
        </form>
    </div>
    <div class="col-lg-2">
        <form asp-controller="Home" method="post" asp-action="OnPostLanguage">
            <input type="hidden" name="culture" id="culture" value="fr-FR" />
            <button>Idioma Frances</button>
        </form>
    </div>
</div>

<br /><br />
<p>
    @System.Globalization.CultureInfo.CurrentCulture.Name
</p>
<p>
    @System.Globalization.CultureInfo.CurrentCulture.DisplayName
</p>
<p>
    @DateTime.Now.ToLongDateString()
</p>